:root{
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
    background-color: var(--color-dark1);
}

.form-group, .submit-button{
    padding: 3px;
    color: white;
}
.content{
    background-color: var(--color-dark2);
    color: white;
}